.title{
    text-align: center;
}

.intro{
    text-align: center;
}

#introP{
    color:blue;
    font-size: 36px;
}

.first{
    display:flex;
    justify-self:center;
}

body{
    background-color: darkcyan;
}